// Fonts
$main-font: 'Outfit', sans-serif;

// Media Query Sizes
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colors
$blue: #007df4;
$secondary: #00c8c2;

// Change for color palette
$black-color: #1a1b15;
$white: #FFFFFF;
$gray: #64748B;
$light-gray: #F8FAFC;
$dark-gray: #1E293B;

$red: rgb(169, 0, 0);
$green: #02db02;

// Font Weights
$thin: 300;
$regular: 400;
$bold: 700;
$black-font: 900;
