@use 'base/mixins' as m;
@use 'base/variables' as v;

.hours{
    @include m.reset-list;
    @include m.grid(1, 1rem);
    @include m.tablet{
        @include m.grid(2, 1rem);

    }
    &__hour{
        color: v.$blue;
        border: 1px solid v.$blue;
        border-radius: 1rem;
        padding: 1rem;
        text-align: center;

        &:hover{
            cursor: pointer;
        }

        &--selected{
            @extend .hours__hour;
            background-color: v.$blue;
            color: v.$white;
        }

        &--disabled{
            @extend .hours__hour;
            border: 1px solid v.$gray;
            color: v.$gray;
            opacity: 0.5;

            &:hover{
                cursor: not-allowed;
            }
        }
    }
}