@use 'base/mixins' as m;
@use 'base/variables' as v;

.footer {
    background-color: v.$blue;
    margin-top: 5rem;
    padding-top: 3rem;
    color: v.$white;

    &__grid{
        @include m.container;
        @include m.tablet{
            @include m.grid(2, 3rem);
        }
    }

    &__logo{
        @include m.logo;
        @include m.fluid-text(2rem, 4rem);
    }

    &__text{
        line-height: 2;
        text-align: center;
        @include m.tablet{
            text-align: left;
        }
    }

    &__copy{
        background-color: darken(v.$blue, 10%);
        margin: 3rem 0 0 0;
        padding: 2rem 0;
        text-align: center;
        font-size: 1.4rem;
        font-weight: v.$black-font;
        &--regular{
            font-weight: v.$regular;
        }
    }
}